.p-t-0 {
  padding-top: 0rem;
}

.p-r-0 {
  padding-right: 0rem;
}

.p-b-0 {
  padding-bottom: 0rem;
}

.p-l-0 {
  padding-left: 0rem;
}

.p-x-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.p-y-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.m-t-0 {
  margin-top: 0rem;
}

.m-r-0 {
  margin-right: 0rem;
}

.m-b-0 {
  margin-bottom: 0rem;
}

.m-l-0 {
  margin-left: 0rem;
}

.m-x-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.m-y-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.p-t-1 {
  padding-top: 0.25rem;
}

.p-r-1 {
  padding-right: 0.25rem;
}

.p-b-1 {
  padding-bottom: 0.25rem;
}

.p-l-1 {
  padding-left: 0.25rem;
}

.p-x-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.p-y-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.m-t-1 {
  margin-top: 0.25rem;
}

.m-r-1 {
  margin-right: 0.25rem;
}

.m-b-1 {
  margin-bottom: 0.25rem;
}

.m-l-1 {
  margin-left: 0.25rem;
}

.m-x-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.m-y-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.p-t-2 {
  padding-top: 0.5rem;
}

.p-r-2 {
  padding-right: 0.5rem;
}

.p-b-2 {
  padding-bottom: 0.5rem;
}

.p-l-2 {
  padding-left: 0.5rem;
}

.p-x-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-y-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-t-2 {
  margin-top: 0.5rem;
}

.m-r-2 {
  margin-right: 0.5rem;
}

.m-b-2 {
  margin-bottom: 0.5rem;
}

.m-l-2 {
  margin-left: 0.5rem;
}

.m-x-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-y-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-t-3 {
  padding-top: 0.75rem;
}

.p-r-3 {
  padding-right: 0.75rem;
}

.p-b-3 {
  padding-bottom: 0.75rem;
}

.p-l-3 {
  padding-left: 0.75rem;
}

.p-x-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-y-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.m-t-3 {
  margin-top: 0.75rem;
}

.m-r-3 {
  margin-right: 0.75rem;
}

.m-b-3 {
  margin-bottom: 0.75rem;
}

.m-l-3 {
  margin-left: 0.75rem;
}

.m-x-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-y-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.p-t-4 {
  padding-top: 1rem;
}

.p-r-4 {
  padding-right: 1rem;
}

.p-b-4 {
  padding-bottom: 1rem;
}

.p-l-4 {
  padding-left: 1rem;
}

.p-x-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-y-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-t-4 {
  margin-top: 1rem;
}

.m-r-4 {
  margin-right: 1rem;
}

.m-b-4 {
  margin-bottom: 1rem;
}

.m-l-4 {
  margin-left: 1rem;
}

.m-x-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.m-y-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-t-5 {
  padding-top: 1.25rem;
}

.p-r-5 {
  padding-right: 1.25rem;
}

.p-b-5 {
  padding-bottom: 1.25rem;
}

.p-l-5 {
  padding-left: 1.25rem;
}

.p-x-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-y-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.m-t-5 {
  margin-top: 1.25rem;
}

.m-r-5 {
  margin-right: 1.25rem;
}

.m-b-5 {
  margin-bottom: 1.25rem;
}

.m-l-5 {
  margin-left: 1.25rem;
}

.m-x-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-y-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.p-t-6 {
  padding-top: 1.5rem;
}

.p-r-6 {
  padding-right: 1.5rem;
}

.p-b-6 {
  padding-bottom: 1.5rem;
}

.p-l-6 {
  padding-left: 1.5rem;
}

.p-x-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-y-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.m-t-6 {
  margin-top: 1.5rem;
}

.m-r-6 {
  margin-right: 1.5rem;
}

.m-b-6 {
  margin-bottom: 1.5rem;
}

.m-l-6 {
  margin-left: 1.5rem;
}

.m-x-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m-y-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.p-t-7 {
  padding-top: 1.75rem;
}

.p-r-7 {
  padding-right: 1.75rem;
}

.p-b-7 {
  padding-bottom: 1.75rem;
}

.p-l-7 {
  padding-left: 1.75rem;
}

.p-x-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.p-y-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.m-t-7 {
  margin-top: 1.75rem;
}

.m-r-7 {
  margin-right: 1.75rem;
}

.m-b-7 {
  margin-bottom: 1.75rem;
}

.m-l-7 {
  margin-left: 1.75rem;
}

.m-x-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.m-y-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.p-t-8 {
  padding-top: 2rem;
}

.p-r-8 {
  padding-right: 2rem;
}

.p-b-8 {
  padding-bottom: 2rem;
}

.p-l-8 {
  padding-left: 2rem;
}

.p-x-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.p-y-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-t-8 {
  margin-top: 2rem;
}

.m-r-8 {
  margin-right: 2rem;
}

.m-b-8 {
  margin-bottom: 2rem;
}

.m-l-8 {
  margin-left: 2rem;
}

.m-x-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.m-y-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-t-9 {
  padding-top: 2.25rem;
}

.p-r-9 {
  padding-right: 2.25rem;
}

.p-b-9 {
  padding-bottom: 2.25rem;
}

.p-l-9 {
  padding-left: 2.25rem;
}

.p-x-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.p-y-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.m-t-9 {
  margin-top: 2.25rem;
}

.m-r-9 {
  margin-right: 2.25rem;
}

.m-b-9 {
  margin-bottom: 2.25rem;
}

.m-l-9 {
  margin-left: 2.25rem;
}

.m-x-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.m-y-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.p-t-10 {
  padding-top: 2.5rem;
}

.p-r-10 {
  padding-right: 2.5rem;
}

.p-b-10 {
  padding-bottom: 2.5rem;
}

.p-l-10 {
  padding-left: 2.5rem;
}

.p-x-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-y-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.m-t-10 {
  margin-top: 2.5rem;
}

.m-r-10 {
  margin-right: 2.5rem;
}

.m-b-10 {
  margin-bottom: 2.5rem;
}

.m-l-10 {
  margin-left: 2.5rem;
}

.m-x-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-y-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.p-t-11 {
  padding-top: 2.75rem;
}

.p-r-11 {
  padding-right: 2.75rem;
}

.p-b-11 {
  padding-bottom: 2.75rem;
}

.p-l-11 {
  padding-left: 2.75rem;
}

.p-x-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.p-y-11 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.m-t-11 {
  margin-top: 2.75rem;
}

.m-r-11 {
  margin-right: 2.75rem;
}

.m-b-11 {
  margin-bottom: 2.75rem;
}

.m-l-11 {
  margin-left: 2.75rem;
}

.m-x-11 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}

.m-y-11 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}

.p-t-12 {
  padding-top: 3rem;
}

.p-r-12 {
  padding-right: 3rem;
}

.p-b-12 {
  padding-bottom: 3rem;
}

.p-l-12 {
  padding-left: 3rem;
}

.p-x-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.p-y-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-t-12 {
  margin-top: 3rem;
}

.m-r-12 {
  margin-right: 3rem;
}

.m-b-12 {
  margin-bottom: 3rem;
}

.m-l-12 {
  margin-left: 3rem;
}

.m-x-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.m-y-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-t-13 {
  padding-top: 3.25rem;
}

.p-r-13 {
  padding-right: 3.25rem;
}

.p-b-13 {
  padding-bottom: 3.25rem;
}

.p-l-13 {
  padding-left: 3.25rem;
}

.p-x-13 {
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

.p-y-13 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.m-t-13 {
  margin-top: 3.25rem;
}

.m-r-13 {
  margin-right: 3.25rem;
}

.m-b-13 {
  margin-bottom: 3.25rem;
}

.m-l-13 {
  margin-left: 3.25rem;
}

.m-x-13 {
  margin-left: 3.25rem;
  margin-right: 3.25rem;
}

.m-y-13 {
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}

.p-t-14 {
  padding-top: 3.5rem;
}

.p-r-14 {
  padding-right: 3.5rem;
}

.p-b-14 {
  padding-bottom: 3.5rem;
}

.p-l-14 {
  padding-left: 3.5rem;
}

.p-x-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.p-y-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.m-t-14 {
  margin-top: 3.5rem;
}

.m-r-14 {
  margin-right: 3.5rem;
}

.m-b-14 {
  margin-bottom: 3.5rem;
}

.m-l-14 {
  margin-left: 3.5rem;
}

.m-x-14 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.m-y-14 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.p-t-15 {
  padding-top: 3.75rem;
}

.p-r-15 {
  padding-right: 3.75rem;
}

.p-b-15 {
  padding-bottom: 3.75rem;
}

.p-l-15 {
  padding-left: 3.75rem;
}

.p-x-15 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.p-y-15 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.m-t-15 {
  margin-top: 3.75rem;
}

.m-r-15 {
  margin-right: 3.75rem;
}

.m-b-15 {
  margin-bottom: 3.75rem;
}

.m-l-15 {
  margin-left: 3.75rem;
}

.m-x-15 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.m-y-15 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.p-t-16 {
  padding-top: 4rem;
}

.p-r-16 {
  padding-right: 4rem;
}

.p-b-16 {
  padding-bottom: 4rem;
}

.p-l-16 {
  padding-left: 4rem;
}

.p-x-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.p-y-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.m-t-16 {
  margin-top: 4rem;
}

.m-r-16 {
  margin-right: 4rem;
}

.m-b-16 {
  margin-bottom: 4rem;
}

.m-l-16 {
  margin-left: 4rem;
}

.m-x-16 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.m-y-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.p-t-17 {
  padding-top: 4.25rem;
}

.p-r-17 {
  padding-right: 4.25rem;
}

.p-b-17 {
  padding-bottom: 4.25rem;
}

.p-l-17 {
  padding-left: 4.25rem;
}

.p-x-17 {
  padding-left: 4.25rem;
  padding-right: 4.25rem;
}

.p-y-17 {
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
}

.m-t-17 {
  margin-top: 4.25rem;
}

.m-r-17 {
  margin-right: 4.25rem;
}

.m-b-17 {
  margin-bottom: 4.25rem;
}

.m-l-17 {
  margin-left: 4.25rem;
}

.m-x-17 {
  margin-left: 4.25rem;
  margin-right: 4.25rem;
}

.m-y-17 {
  margin-top: 4.25rem;
  margin-bottom: 4.25rem;
}

.p-t-18 {
  padding-top: 4.5rem;
}

.p-r-18 {
  padding-right: 4.5rem;
}

.p-b-18 {
  padding-bottom: 4.5rem;
}

.p-l-18 {
  padding-left: 4.5rem;
}

.p-x-18 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.p-y-18 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.m-t-18 {
  margin-top: 4.5rem;
}

.m-r-18 {
  margin-right: 4.5rem;
}

.m-b-18 {
  margin-bottom: 4.5rem;
}

.m-l-18 {
  margin-left: 4.5rem;
}

.m-x-18 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.m-y-18 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.p-t-19 {
  padding-top: 4.75rem;
}

.p-r-19 {
  padding-right: 4.75rem;
}

.p-b-19 {
  padding-bottom: 4.75rem;
}

.p-l-19 {
  padding-left: 4.75rem;
}

.p-x-19 {
  padding-left: 4.75rem;
  padding-right: 4.75rem;
}

.p-y-19 {
  padding-top: 4.75rem;
  padding-bottom: 4.75rem;
}

.m-t-19 {
  margin-top: 4.75rem;
}

.m-r-19 {
  margin-right: 4.75rem;
}

.m-b-19 {
  margin-bottom: 4.75rem;
}

.m-l-19 {
  margin-left: 4.75rem;
}

.m-x-19 {
  margin-left: 4.75rem;
  margin-right: 4.75rem;
}

.m-y-19 {
  margin-top: 4.75rem;
  margin-bottom: 4.75rem;
}

.p-t-20 {
  padding-top: 5rem;
}

.p-r-20 {
  padding-right: 5rem;
}

.p-b-20 {
  padding-bottom: 5rem;
}

.p-l-20 {
  padding-left: 5rem;
}

.p-x-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.p-y-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.m-t-20 {
  margin-top: 5rem;
}

.m-r-20 {
  margin-right: 5rem;
}

.m-b-20 {
  margin-bottom: 5rem;
}

.m-l-20 {
  margin-left: 5rem;
}

.m-x-20 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.m-y-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.p-t-21 {
  padding-top: 5.25rem;
}

.p-r-21 {
  padding-right: 5.25rem;
}

.p-b-21 {
  padding-bottom: 5.25rem;
}

.p-l-21 {
  padding-left: 5.25rem;
}

.p-x-21 {
  padding-left: 5.25rem;
  padding-right: 5.25rem;
}

.p-y-21 {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.m-t-21 {
  margin-top: 5.25rem;
}

.m-r-21 {
  margin-right: 5.25rem;
}

.m-b-21 {
  margin-bottom: 5.25rem;
}

.m-l-21 {
  margin-left: 5.25rem;
}

.m-x-21 {
  margin-left: 5.25rem;
  margin-right: 5.25rem;
}

.m-y-21 {
  margin-top: 5.25rem;
  margin-bottom: 5.25rem;
}

.p-t-22 {
  padding-top: 5.5rem;
}

.p-r-22 {
  padding-right: 5.5rem;
}

.p-b-22 {
  padding-bottom: 5.5rem;
}

.p-l-22 {
  padding-left: 5.5rem;
}

.p-x-22 {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

.p-y-22 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.m-t-22 {
  margin-top: 5.5rem;
}

.m-r-22 {
  margin-right: 5.5rem;
}

.m-b-22 {
  margin-bottom: 5.5rem;
}

.m-l-22 {
  margin-left: 5.5rem;
}

.m-x-22 {
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

.m-y-22 {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.p-t-23 {
  padding-top: 5.75rem;
}

.p-r-23 {
  padding-right: 5.75rem;
}

.p-b-23 {
  padding-bottom: 5.75rem;
}

.p-l-23 {
  padding-left: 5.75rem;
}

.p-x-23 {
  padding-left: 5.75rem;
  padding-right: 5.75rem;
}

.p-y-23 {
  padding-top: 5.75rem;
  padding-bottom: 5.75rem;
}

.m-t-23 {
  margin-top: 5.75rem;
}

.m-r-23 {
  margin-right: 5.75rem;
}

.m-b-23 {
  margin-bottom: 5.75rem;
}

.m-l-23 {
  margin-left: 5.75rem;
}

.m-x-23 {
  margin-left: 5.75rem;
  margin-right: 5.75rem;
}

.m-y-23 {
  margin-top: 5.75rem;
  margin-bottom: 5.75rem;
}

.p-t-24 {
  padding-top: 6rem;
}

.p-r-24 {
  padding-right: 6rem;
}

.p-b-24 {
  padding-bottom: 6rem;
}

.p-l-24 {
  padding-left: 6rem;
}

.p-x-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.p-y-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.m-t-24 {
  margin-top: 6rem;
}

.m-r-24 {
  margin-right: 6rem;
}

.m-b-24 {
  margin-bottom: 6rem;
}

.m-l-24 {
  margin-left: 6rem;
}

.m-x-24 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.m-y-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.p-t-25 {
  padding-top: 6.25rem;
}

.p-r-25 {
  padding-right: 6.25rem;
}

.p-b-25 {
  padding-bottom: 6.25rem;
}

.p-l-25 {
  padding-left: 6.25rem;
}

.p-x-25 {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

.p-y-25 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.m-t-25 {
  margin-top: 6.25rem;
}

.m-r-25 {
  margin-right: 6.25rem;
}

.m-b-25 {
  margin-bottom: 6.25rem;
}

.m-l-25 {
  margin-left: 6.25rem;
}

.m-x-25 {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}

.m-y-25 {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.p-t-26 {
  padding-top: 6.5rem;
}

.p-r-26 {
  padding-right: 6.5rem;
}

.p-b-26 {
  padding-bottom: 6.5rem;
}

.p-l-26 {
  padding-left: 6.5rem;
}

.p-x-26 {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

.p-y-26 {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.m-t-26 {
  margin-top: 6.5rem;
}

.m-r-26 {
  margin-right: 6.5rem;
}

.m-b-26 {
  margin-bottom: 6.5rem;
}

.m-l-26 {
  margin-left: 6.5rem;
}

.m-x-26 {
  margin-left: 6.5rem;
  margin-right: 6.5rem;
}

.m-y-26 {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}

.p-t-27 {
  padding-top: 6.75rem;
}

.p-r-27 {
  padding-right: 6.75rem;
}

.p-b-27 {
  padding-bottom: 6.75rem;
}

.p-l-27 {
  padding-left: 6.75rem;
}

.p-x-27 {
  padding-left: 6.75rem;
  padding-right: 6.75rem;
}

.p-y-27 {
  padding-top: 6.75rem;
  padding-bottom: 6.75rem;
}

.m-t-27 {
  margin-top: 6.75rem;
}

.m-r-27 {
  margin-right: 6.75rem;
}

.m-b-27 {
  margin-bottom: 6.75rem;
}

.m-l-27 {
  margin-left: 6.75rem;
}

.m-x-27 {
  margin-left: 6.75rem;
  margin-right: 6.75rem;
}

.m-y-27 {
  margin-top: 6.75rem;
  margin-bottom: 6.75rem;
}

.p-t-28 {
  padding-top: 7rem;
}

.p-r-28 {
  padding-right: 7rem;
}

.p-b-28 {
  padding-bottom: 7rem;
}

.p-l-28 {
  padding-left: 7rem;
}

.p-x-28 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.p-y-28 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.m-t-28 {
  margin-top: 7rem;
}

.m-r-28 {
  margin-right: 7rem;
}

.m-b-28 {
  margin-bottom: 7rem;
}

.m-l-28 {
  margin-left: 7rem;
}

.m-x-28 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.m-y-28 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.p-t-29 {
  padding-top: 7.25rem;
}

.p-r-29 {
  padding-right: 7.25rem;
}

.p-b-29 {
  padding-bottom: 7.25rem;
}

.p-l-29 {
  padding-left: 7.25rem;
}

.p-x-29 {
  padding-left: 7.25rem;
  padding-right: 7.25rem;
}

.p-y-29 {
  padding-top: 7.25rem;
  padding-bottom: 7.25rem;
}

.m-t-29 {
  margin-top: 7.25rem;
}

.m-r-29 {
  margin-right: 7.25rem;
}

.m-b-29 {
  margin-bottom: 7.25rem;
}

.m-l-29 {
  margin-left: 7.25rem;
}

.m-x-29 {
  margin-left: 7.25rem;
  margin-right: 7.25rem;
}

.m-y-29 {
  margin-top: 7.25rem;
  margin-bottom: 7.25rem;
}

.p-t-30 {
  padding-top: 7.5rem;
}

.p-r-30 {
  padding-right: 7.5rem;
}

.p-b-30 {
  padding-bottom: 7.5rem;
}

.p-l-30 {
  padding-left: 7.5rem;
}

.p-x-30 {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.p-y-30 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.m-t-30 {
  margin-top: 7.5rem;
}

.m-r-30 {
  margin-right: 7.5rem;
}

.m-b-30 {
  margin-bottom: 7.5rem;
}

.m-l-30 {
  margin-left: 7.5rem;
}

.m-x-30 {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.m-y-30 {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.p-t-31 {
  padding-top: 7.75rem;
}

.p-r-31 {
  padding-right: 7.75rem;
}

.p-b-31 {
  padding-bottom: 7.75rem;
}

.p-l-31 {
  padding-left: 7.75rem;
}

.p-x-31 {
  padding-left: 7.75rem;
  padding-right: 7.75rem;
}

.p-y-31 {
  padding-top: 7.75rem;
  padding-bottom: 7.75rem;
}

.m-t-31 {
  margin-top: 7.75rem;
}

.m-r-31 {
  margin-right: 7.75rem;
}

.m-b-31 {
  margin-bottom: 7.75rem;
}

.m-l-31 {
  margin-left: 7.75rem;
}

.m-x-31 {
  margin-left: 7.75rem;
  margin-right: 7.75rem;
}

.m-y-31 {
  margin-top: 7.75rem;
  margin-bottom: 7.75rem;
}

.p-t-32 {
  padding-top: 8rem;
}

.p-r-32 {
  padding-right: 8rem;
}

.p-b-32 {
  padding-bottom: 8rem;
}

.p-l-32 {
  padding-left: 8rem;
}

.p-x-32 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.p-y-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.m-t-32 {
  margin-top: 8rem;
}

.m-r-32 {
  margin-right: 8rem;
}

.m-b-32 {
  margin-bottom: 8rem;
}

.m-l-32 {
  margin-left: 8rem;
}

.m-x-32 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.m-y-32 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.p-t-33 {
  padding-top: 8.25rem;
}

.p-r-33 {
  padding-right: 8.25rem;
}

.p-b-33 {
  padding-bottom: 8.25rem;
}

.p-l-33 {
  padding-left: 8.25rem;
}

.p-x-33 {
  padding-left: 8.25rem;
  padding-right: 8.25rem;
}

.p-y-33 {
  padding-top: 8.25rem;
  padding-bottom: 8.25rem;
}

.m-t-33 {
  margin-top: 8.25rem;
}

.m-r-33 {
  margin-right: 8.25rem;
}

.m-b-33 {
  margin-bottom: 8.25rem;
}

.m-l-33 {
  margin-left: 8.25rem;
}

.m-x-33 {
  margin-left: 8.25rem;
  margin-right: 8.25rem;
}

.m-y-33 {
  margin-top: 8.25rem;
  margin-bottom: 8.25rem;
}

.p-t-34 {
  padding-top: 8.5rem;
}

.p-r-34 {
  padding-right: 8.5rem;
}

.p-b-34 {
  padding-bottom: 8.5rem;
}

.p-l-34 {
  padding-left: 8.5rem;
}

.p-x-34 {
  padding-left: 8.5rem;
  padding-right: 8.5rem;
}

.p-y-34 {
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
}

.m-t-34 {
  margin-top: 8.5rem;
}

.m-r-34 {
  margin-right: 8.5rem;
}

.m-b-34 {
  margin-bottom: 8.5rem;
}

.m-l-34 {
  margin-left: 8.5rem;
}

.m-x-34 {
  margin-left: 8.5rem;
  margin-right: 8.5rem;
}

.m-y-34 {
  margin-top: 8.5rem;
  margin-bottom: 8.5rem;
}

.p-t-35 {
  padding-top: 8.75rem;
}

.p-r-35 {
  padding-right: 8.75rem;
}

.p-b-35 {
  padding-bottom: 8.75rem;
}

.p-l-35 {
  padding-left: 8.75rem;
}

.p-x-35 {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}

.p-y-35 {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

.m-t-35 {
  margin-top: 8.75rem;
}

.m-r-35 {
  margin-right: 8.75rem;
}

.m-b-35 {
  margin-bottom: 8.75rem;
}

.m-l-35 {
  margin-left: 8.75rem;
}

.m-x-35 {
  margin-left: 8.75rem;
  margin-right: 8.75rem;
}

.m-y-35 {
  margin-top: 8.75rem;
  margin-bottom: 8.75rem;
}

.p-t-36 {
  padding-top: 9rem;
}

.p-r-36 {
  padding-right: 9rem;
}

.p-b-36 {
  padding-bottom: 9rem;
}

.p-l-36 {
  padding-left: 9rem;
}

.p-x-36 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.p-y-36 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.m-t-36 {
  margin-top: 9rem;
}

.m-r-36 {
  margin-right: 9rem;
}

.m-b-36 {
  margin-bottom: 9rem;
}

.m-l-36 {
  margin-left: 9rem;
}

.m-x-36 {
  margin-left: 9rem;
  margin-right: 9rem;
}

.m-y-36 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.p-t-37 {
  padding-top: 9.25rem;
}

.p-r-37 {
  padding-right: 9.25rem;
}

.p-b-37 {
  padding-bottom: 9.25rem;
}

.p-l-37 {
  padding-left: 9.25rem;
}

.p-x-37 {
  padding-left: 9.25rem;
  padding-right: 9.25rem;
}

.p-y-37 {
  padding-top: 9.25rem;
  padding-bottom: 9.25rem;
}

.m-t-37 {
  margin-top: 9.25rem;
}

.m-r-37 {
  margin-right: 9.25rem;
}

.m-b-37 {
  margin-bottom: 9.25rem;
}

.m-l-37 {
  margin-left: 9.25rem;
}

.m-x-37 {
  margin-left: 9.25rem;
  margin-right: 9.25rem;
}

.m-y-37 {
  margin-top: 9.25rem;
  margin-bottom: 9.25rem;
}

.p-t-38 {
  padding-top: 9.5rem;
}

.p-r-38 {
  padding-right: 9.5rem;
}

.p-b-38 {
  padding-bottom: 9.5rem;
}

.p-l-38 {
  padding-left: 9.5rem;
}

.p-x-38 {
  padding-left: 9.5rem;
  padding-right: 9.5rem;
}

.p-y-38 {
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}

.m-t-38 {
  margin-top: 9.5rem;
}

.m-r-38 {
  margin-right: 9.5rem;
}

.m-b-38 {
  margin-bottom: 9.5rem;
}

.m-l-38 {
  margin-left: 9.5rem;
}

.m-x-38 {
  margin-left: 9.5rem;
  margin-right: 9.5rem;
}

.m-y-38 {
  margin-top: 9.5rem;
  margin-bottom: 9.5rem;
}

.p-t-39 {
  padding-top: 9.75rem;
}

.p-r-39 {
  padding-right: 9.75rem;
}

.p-b-39 {
  padding-bottom: 9.75rem;
}

.p-l-39 {
  padding-left: 9.75rem;
}

.p-x-39 {
  padding-left: 9.75rem;
  padding-right: 9.75rem;
}

.p-y-39 {
  padding-top: 9.75rem;
  padding-bottom: 9.75rem;
}

.m-t-39 {
  margin-top: 9.75rem;
}

.m-r-39 {
  margin-right: 9.75rem;
}

.m-b-39 {
  margin-bottom: 9.75rem;
}

.m-l-39 {
  margin-left: 9.75rem;
}

.m-x-39 {
  margin-left: 9.75rem;
  margin-right: 9.75rem;
}

.m-y-39 {
  margin-top: 9.75rem;
  margin-bottom: 9.75rem;
}

.p-t-40 {
  padding-top: 10rem;
}

.p-r-40 {
  padding-right: 10rem;
}

.p-b-40 {
  padding-bottom: 10rem;
}

.p-l-40 {
  padding-left: 10rem;
}

.p-x-40 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.p-y-40 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.m-t-40 {
  margin-top: 10rem;
}

.m-r-40 {
  margin-right: 10rem;
}

.m-b-40 {
  margin-bottom: 10rem;
}

.m-l-40 {
  margin-left: 10rem;
}

.m-x-40 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.m-y-40 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-l-auto {
  margin-left: auto;
}

.m-r-auto {
  margin-right: auto;
}

.width-0-percent {
  width: 0%;
}

.width-1-percent {
  width: 1%;
}

.width-2-percent {
  width: 2%;
}

.width-3-percent {
  width: 3%;
}

.width-4-percent {
  width: 4%;
}

.width-5-percent {
  width: 5%;
}

.width-6-percent {
  width: 6%;
}

.width-7-percent {
  width: 7%;
}

.width-8-percent {
  width: 8%;
}

.width-9-percent {
  width: 9%;
}

.width-10-percent {
  width: 10%;
}

.width-11-percent {
  width: 11%;
}

.width-12-percent {
  width: 12%;
}

.width-13-percent {
  width: 13%;
}

.width-14-percent {
  width: 14%;
}

.width-15-percent {
  width: 15%;
}

.width-16-percent {
  width: 16%;
}

.width-17-percent {
  width: 17%;
}

.width-18-percent {
  width: 18%;
}

.width-19-percent {
  width: 19%;
}

.width-20-percent {
  width: 20%;
}

.width-21-percent {
  width: 21%;
}

.width-22-percent {
  width: 22%;
}

.width-23-percent {
  width: 23%;
}

.width-24-percent {
  width: 24%;
}

.width-25-percent {
  width: 25%;
}

.width-26-percent {
  width: 26%;
}

.width-27-percent {
  width: 27%;
}

.width-28-percent {
  width: 28%;
}

.width-29-percent {
  width: 29%;
}

.width-30-percent {
  width: 30%;
}

.width-31-percent {
  width: 31%;
}

.width-32-percent {
  width: 32%;
}

.width-33-percent {
  width: 33%;
}

.width-34-percent {
  width: 34%;
}

.width-35-percent {
  width: 35%;
}

.width-36-percent {
  width: 36%;
}

.width-37-percent {
  width: 37%;
}

.width-38-percent {
  width: 38%;
}

.width-39-percent {
  width: 39%;
}

.width-40-percent {
  width: 40%;
}

.width-41-percent {
  width: 41%;
}

.width-42-percent {
  width: 42%;
}

.width-43-percent {
  width: 43%;
}

.width-44-percent {
  width: 44%;
}

.width-45-percent {
  width: 45%;
}

.width-46-percent {
  width: 46%;
}

.width-47-percent {
  width: 47%;
}

.width-48-percent {
  width: 48%;
}

.width-49-percent {
  width: 49%;
}

.width-50-percent {
  width: 50%;
}

.width-51-percent {
  width: 51%;
}

.width-52-percent {
  width: 52%;
}

.width-53-percent {
  width: 53%;
}

.width-54-percent {
  width: 54%;
}

.width-55-percent {
  width: 55%;
}

.width-56-percent {
  width: 56%;
}

.width-57-percent {
  width: 57%;
}

.width-58-percent {
  width: 58%;
}

.width-59-percent {
  width: 59%;
}

.width-60-percent {
  width: 60%;
}

.width-61-percent {
  width: 61%;
}

.width-62-percent {
  width: 62%;
}

.width-63-percent {
  width: 63%;
}

.width-64-percent {
  width: 64%;
}

.width-65-percent {
  width: 65%;
}

.width-66-percent {
  width: 66%;
}

.width-67-percent {
  width: 67%;
}

.width-68-percent {
  width: 68%;
}

.width-69-percent {
  width: 69%;
}

.width-70-percent {
  width: 70%;
}

.width-71-percent {
  width: 71%;
}

.width-72-percent {
  width: 72%;
}

.width-73-percent {
  width: 73%;
}

.width-74-percent {
  width: 74%;
}

.width-75-percent {
  width: 75%;
}

.width-76-percent {
  width: 76%;
}

.width-77-percent {
  width: 77%;
}

.width-78-percent {
  width: 78%;
}

.width-79-percent {
  width: 79%;
}

.width-80-percent {
  width: 80%;
}

.width-81-percent {
  width: 81%;
}

.width-82-percent {
  width: 82%;
}

.width-83-percent {
  width: 83%;
}

.width-84-percent {
  width: 84%;
}

.width-85-percent {
  width: 85%;
}

.width-86-percent {
  width: 86%;
}

.width-87-percent {
  width: 87%;
}

.width-88-percent {
  width: 88%;
}

.width-89-percent {
  width: 89%;
}

.width-90-percent {
  width: 90%;
}

.width-91-percent {
  width: 91%;
}

.width-92-percent {
  width: 92%;
}

.width-93-percent {
  width: 93%;
}

.width-94-percent {
  width: 94%;
}

.width-95-percent {
  width: 95%;
}

.width-96-percent {
  width: 96%;
}

.width-97-percent {
  width: 97%;
}

.width-98-percent {
  width: 98%;
}

.width-99-percent {
  width: 99%;
}

.width-100-percent {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex.ai-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flex.ai-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flex.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex.jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex.jc-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex.jc-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.flex.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.flex.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.flex.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gap-0 {
  gap: 0rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-9 {
  gap: 2.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-13 {
  gap: 3.25rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-15 {
  gap: 3.75rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-17 {
  gap: 4.25rem;
}

.gap-18 {
  gap: 4.5rem;
}

.gap-19 {
  gap: 4.75rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-21 {
  gap: 5.25rem;
}

.gap-22 {
  gap: 5.5rem;
}

.gap-23 {
  gap: 5.75rem;
}

.gap-24 {
  gap: 6rem;
}

.gap-25 {
  gap: 6.25rem;
}

.gap-26 {
  gap: 6.5rem;
}

.gap-27 {
  gap: 6.75rem;
}

.gap-28 {
  gap: 7rem;
}

.gap-29 {
  gap: 7.25rem;
}

.gap-30 {
  gap: 7.5rem;
}

.gap-31 {
  gap: 7.75rem;
}

.gap-32 {
  gap: 8rem;
}

.gap-33 {
  gap: 8.25rem;
}

.gap-34 {
  gap: 8.5rem;
}

.gap-35 {
  gap: 8.75rem;
}

.gap-36 {
  gap: 9rem;
}

.gap-37 {
  gap: 9.25rem;
}

.gap-38 {
  gap: 9.5rem;
}

.gap-39 {
  gap: 9.75rem;
}

.gap-40 {
  gap: 10rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.clearfix {
  clear: both;
}

.f-s-1 {
  font-size: 0.25rem;
}

.f-s-2 {
  font-size: 0.5rem;
}

.f-s-3 {
  font-size: 0.75rem;
}

.f-s-4 {
  font-size: 1rem;
}

.f-s-5 {
  font-size: 1.25rem;
}

.f-s-6 {
  font-size: 1.5rem;
}

.f-s-7 {
  font-size: 1.75rem;
}

.f-s-8 {
  font-size: 2rem;
}

.f-s-9 {
  font-size: 2.25rem;
}

.f-s-10 {
  font-size: 2.5rem;
}

.f-s-11 {
  font-size: 2.75rem;
}

.f-s-12 {
  font-size: 3rem;
}

.f-s-13 {
  font-size: 3.25rem;
}

.f-s-14 {
  font-size: 3.5rem;
}

.f-s-15 {
  font-size: 3.75rem;
}

.f-s-16 {
  font-size: 4rem;
}

.f-s-17 {
  font-size: 4.25rem;
}

.f-s-18 {
  font-size: 4.5rem;
}

.f-s-19 {
  font-size: 4.75rem;
}

.f-s-20 {
  font-size: 5rem;
}

.f-s-21 {
  font-size: 5.25rem;
}

.f-s-22 {
  font-size: 5.5rem;
}

.f-s-23 {
  font-size: 5.75rem;
}

.f-s-24 {
  font-size: 6rem;
}

.f-s-25 {
  font-size: 6.25rem;
}

.f-s-26 {
  font-size: 6.5rem;
}

.f-s-27 {
  font-size: 6.75rem;
}

.f-s-28 {
  font-size: 7rem;
}

.f-s-29 {
  font-size: 7.25rem;
}

.f-s-30 {
  font-size: 7.5rem;
}

.f-s-31 {
  font-size: 7.75rem;
}

.f-s-32 {
  font-size: 8rem;
}

.f-s-33 {
  font-size: 8.25rem;
}

.f-s-34 {
  font-size: 8.5rem;
}

.f-s-35 {
  font-size: 8.75rem;
}

.f-s-36 {
  font-size: 9rem;
}

.f-s-37 {
  font-size: 9.25rem;
}

.f-s-38 {
  font-size: 9.5rem;
}

.f-s-39 {
  font-size: 9.75rem;
}

.f-s-40 {
  font-size: 10rem;
}

.f-w-light {
  font-weight: 100;
}

.f-w-normal {
  font-weight: 400;
}

.f-w-semi-bold {
  font-weight: 500;
}

.f-w-bold {
  font-weight: 700;
}

.f-w-bolder {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "DM Serif Display", serif;
}

.color-violet-1 {
  color: hsl(270deg, 9%, 17%);
}

.color-violet-2 {
  color: hsl(273deg, 4%, 51%);
}

.color-gray {
  color: hsl(0deg, 0%, 98%);
}

.bg-violet {
  background-color: hsl(256deg, 26%, 20%);
}

.bg-blue {
  background-color: hsl(216deg, 30%, 68%);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5em;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn.outline {
  border: 2px solid hsl(256deg, 26%, 20%);
}
.btn:hover {
  color: white;
  background-color: hsl(256deg, 26%, 20%);
}
.btn.reverse {
  color: hsl(0deg, 0%, 98%);
}
.btn.reverse.outline {
  border-color: hsl(0deg, 0%, 98%);
}
.btn.reverse:hover {
  color: hsl(270deg, 9%, 17%);
  background-color: hsl(0deg, 0%, 98%);
}

.container {
  max-width: 69.375rem;
  width: 87.2%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

header {
  margin-bottom: 19rem;
}
@media only screen and (max-width: 768px) {
  header {
    margin-bottom: 8.5rem;
  }
}
@media only screen and (max-width: 768px) {
  header .nav {
    height: 5.5rem;
    padding: 0;
  }
}
header .nav nav {
  background-color: white;
}
@media only screen and (max-width: 768px) {
  header .nav nav {
    position: absolute;
    z-index: 999;
    top: 5.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom/100%;
    background-color: hsl(256deg, 26%, 20%);
    padding-top: 3rem;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .nav nav.show {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  header .nav nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 87%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  header .nav nav ul li {
    width: 100%;
    text-align: center;
  }
}
header .nav nav ul li a {
  letter-spacing: 0.1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media only screen and (max-width: 768px) {
  header .nav nav ul li a {
    color: hsl(0deg, 0%, 98%);
  }
}
header .nav nav ul li a:hover {
  color: hsl(270deg, 9%, 17%);
}
@media only screen and (max-width: 768px) {
  header .nav nav ul .btn {
    border-color: hsl(0deg, 0%, 98%);
    width: 100%;
  }
}
header .menu-toggle {
  display: none;
  border: none;
  outline: none;
  background-color: none;
  background: url("../images/icon-hamburger.svg") no-repeat center/cover;
  width: 2.5rem;
  aspect-ratio: 1;
  cursor: pointer;
}
header .menu-toggle.show {
  background-image: url("../images/icon-close.svg");
}
@media only screen and (max-width: 768px) {
  header .menu-toggle {
    display: inline-block;
  }
}
header .hero {
  background-color: hsl(256deg, 26%, 20%);
  position: relative;
}
header .hero .container {
  position: relative;
}
@media only screen and (max-width: 768px) {
  header .hero .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
header .hero .container .hero-image {
  position: absolute;
  right: 0;
  top: 0;
}
header .hero .container .hero-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 768px) {
  header .hero .container .hero-image {
    position: relative;
    width: 100%;
  }
}
header .hero::after {
  content: url("../images/bg-pattern-intro-left-desktop.svg");
  position: absolute;
  top: 73.5%;
  left: 0;
  display: block;
}
header .hero::before {
  content: url("../images/bg-pattern-intro-right-desktop.svg");
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
header .hero .content {
  position: relative;
}
header .hero .content .heading {
  position: relative;
  line-height: 1em;
}
@media only screen and (max-width: 768px) {
  header .hero .content .heading {
    text-align: center;
    font-size: 2.75rem;
    padding: 0;
  }
}
header .hero .content .heading::after {
  content: "";
  width: 9.375rem;
  height: 1px;
  background-color: hsl(0deg, 0%, 98%);
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 768px) {
  header .hero .content .heading::after {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  header .hero .content p {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  header .hero .content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5.8rem;
    padding-bottom: 5.8rem;
    position: relative;
    padding-left: 6.4%;
    padding-right: 6.4%;
    position: relative;
  }
  header .hero .content::after {
    content: url("../images/bg-pattern-intro-left-mobile.svg");
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  header .hero .content::before {
    content: url("../images/bg-pattern-intro-right-mobile.svg");
    position: absolute;
    top: 74%;
    right: 0;
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  header .hero {
    padding-top: 0;
    padding-bottom: 0;
  }
  header .hero::after, header .hero::before {
    display: none;
  }
}

main .container > .heading {
  position: relative;
  line-height: 1em;
}
@media only screen and (max-width: 768px) {
  main .container > .heading {
    font-size: 2.75rem;
    text-align: center;
  }
}
main .container > .heading::after {
  content: "";
  width: 9.375rem;
  height: 1px;
  background-color: hsl(256deg, 26%, 20%);
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 768px) {
  main .container > .heading::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media only screen and (max-width: 768px) {
  main .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.75rem;
  }
}
main .features .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media only screen and (max-width: 768px) {
  main .features .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  main .features .item p {
    text-align: center;
  }
}
main .find-out {
  background: url("../images/bg-pattern-how-we-work-desktop.svg") no-repeat right/auto 100%;
  background-color: hsl(256deg, 26%, 20%);
}
@media only screen and (max-width: 768px) {
  main .find-out {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 4.375rem;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  }
}
@media only screen and (max-width: 768px) {
  main .find-out .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.75rem;
  }
}
main .find-out .heading {
  font-size: 3.125rem;
  line-height: 1em;
}
@media only screen and (max-width: 768px) {
  main .find-out .heading {
    width: 100%;
    font-size: 1.75rem;
    text-align: center;
  }
}

footer {
  background: url("../images/bg-pattern-footer-desktop.svg") no-repeat left top;
  background-color: hsl(0deg, 0%, 98%);
}
@media only screen and (max-width: 768px) {
  footer {
    background-image: url("../images/bg-pattern-footer-mobile.svg");
  }
}
footer .header {
  border-bottom: 1px solid hsl(273deg, 4%, 51%);
}
@media only screen and (max-width: 768px) {
  footer .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
}
footer .header .logo {
  width: 9.375rem;
}
footer .header .social-media-links a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .header .social-media-links a:hover {
  color: hsl(270deg, 9%, 17%);
}
@media only screen and (max-width: 768px) {
  footer .footer-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
  }
}
footer .footer-link .link-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media only screen and (max-width: 768px) {
  footer .footer-link .link-group {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  footer .footer-link .link-group .title {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  footer .footer-link .link-group ul {
    gap: 1rem;
  }
}
footer .footer-link .link-group ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
footer .footer-link .link-group ul li a:hover::after {
  width: 100%;
}
footer .footer-link .link-group ul li a::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  background-color: hsl(270deg, 9%, 17%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=app.css.map */