$primary-violet: hsl(256, 26%, 20%);
$primary-blue: hsl(216, 30%, 68%);

$neutral-violet-1: hsl(270, 9%, 17%);
$neutral-violet-2: hsl(273, 4%, 51%);
$neutral-gray: hsl(0, 0%, 98%);

$transition-timing: 0.3s;
